@utility utbc-link {
  @apply underline;
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }

  &:active {
    color: var(--link-color-active);
  }
}

@utility utbc-navigator {
  border-radius: var(--navigator-rounded);
  padding-inline: calc(var(--spacing) * var(--navigator-spacing-x));
  padding-block: calc(var(--spacing) * var(--navigator-spacing-y));

  background-color: var(--navigator-color-bg);
  color: var(--navigator-color-text);

  &:hover {
    background-image: var(--navigator-texture);
    background-repeat: repeat;
    background-color: var(--navigator-color-bg-hover);
    color: var(--navigator-color-text-hover);
  }

  &:active {
    background-image: var(--navigator-texture);
    background-repeat: repeat;
    background-color: var(--navigator-color-bg-active);
    color: var(--navigator-color-text-active);
  }
}
