@utility utbc-duration {
  @apply duration-[var(--duration)];
  @apply ease-in-out;
}

@utility utbc-texture {
  background-image: var(--texture);
  background-repeat: repeat;
}

@utility utbc-rounded {
  border-radius: var(--rounded);
}

@utility utbc-background {
  background-color: var(--bg-color);
}

@utility utbc-muted-background {
  background-color: var(--bg-muted-color);
}

@utility utbc-text {
  color: var(--text-color);
}

@utility utbc-muted-text {
  color: var(--text-muted-color);
}

@utility utbc-border {
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-width: var(--border-size);
}
