@utility utbc-header {
  @apply sticky top-0 z-10;
  background-image: var(--header-texture);
  background-repeat: repeat;
  background-color: var(--header-bg-color);
  border-bottom-color: var(--border-color);
  border-bottom-width: var(--border-size);
  border-bottom-style: var(--border-style);
}

@utility utbc-footer {
  background-image: var(--footer-texture);
  background-repeat: repeat;
  background-color: var(--footer-bg-color);
  border-top-color: var(--border-color);
  border-top-width: var(--border-size);
  border-top-style: var(--border-style);
}
