@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Roboto_Serif/RobotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Roboto_Serif/RobotoSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Italianno/Italianno-Regular.ttf') format('truetype');
}
