@theme {
  --font-sans:
    'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'Roboto Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-fancy: 'Italianno', cursive;
}

:root {
  --duration: 200ms;
  --texture: url('/images/texture.png');
  --rounded: var(--radius-lg);

  --bg-color: var(--color-neutral-500);
  --bg-muted-color: var(--color-neutral-600);

  --text-color: var(--color-neutral-100);
  --text-muted-color: var(--color-neutral-400);

  --border-color: var(--color-neutral-400);
  --border-size: 1px;
  --border-style: solid;

  --container-sm: 2;
  --container-md: 20;
  --container-lg: 40;

  --block-sm: 2;
  --block-md: 4;
  --block-lg: 6;

  --spacing-sm: 2;
  --spacing-md: 4;
  --spacing-lg: 6;

  --link-color: var(--color-emerald-300);
  --link-color-hover: var(--color-emerald-400);
  --link-color-active: var(--color-emerald-500);

  --navigator-rounded: var(--radius-sm);
  --navigator-texture: var(--texture);
  --navigator-spacing-x: 3;
  --navigator-spacing-y: 2;
  --navigator-color-bg: transparent;
  --navigator-color-text: var(--color-emerald-300);
  --navigator-color-bg-hover: var(--color-emerald-500);
  --navigator-color-text-hover: var(--color-white);
  --navigator-color-bg-active: var(--color-emerald-600);
  --navigator-color-text-active: var(--color-white);
}
