@theme {
  --font-sans:
    'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'Roboto Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-fancy: 'Italianno', cursive;
}

:root {
  --duration: 200ms;
  --texture: url('/images/texture.png');
  --rounded: var(--radius-lg);

  --bg-color: var(--color-neutral-500);
  --bg-muted-color: var(--color-neutral-600);
  --border-color: var(--color-neutral-400);
  --border-size: 1px;
  --border-style: solid;
  --text-color: var(--color-neutral-100);
  --text-muted-color: var(--color-neutral-400);

  --block-lg: 8;
  --block-md: 8;
  --block-sm: 6;
  --container-lg: 48;
  --container-md: 28;
  --container-sm: 8;
  --spacing-lg: 6;
  --spacing-md: 4;
  --spacing-sm: 2;

  --header-texture: var(--texture);
  --header-bg-color: var(--bg-muted-color);

  --footer-texture: var(--texture);
  --footer-bg-color: var(--bg-muted-color);
  --footer-owner-text-color: var(--text-muted-color);
  --footer-owner-border-color: var(--text-muted-color);
  --footer-owner-border-style: var(--border-style);
  --footer-owner-border-size: var(--border-size);
}
