/* UTILS */

@utility tbu-duration {
  @apply ease-in-out;
  transition-duration: var(--duration);
}

@utility tbu-texture {
  background-image: var(--texture);
  background-repeat: repeat;
}

@utility tbu-rounded {
  border-radius: var(--rounded);
}

/* COLORS */

@utility tbu-primary-bg {
  background-color: var(--color-primary);
}

@utility tbu-primary-bg-opaque {
  background-color: var(--color-primary-opaque);
}

@utility tbu-primary-text {
  color: var(--color-primary-soft);
}

@utility tbu-secondary-bg {
  background-color: var(--color-secondary);
}

@utility tbu-secondary-bg-opaque {
  background-color: var(--color-secondary-opaque);
}

@utility tbu-secondary-text {
  color: var(--color-secondary-soft);
}

@utility tbu-asset-bg {
  background-color: var(--color-asset);
}

@utility tbu-asset-bg-opaque {
  background-color: var(--color-asset-opaque);
}

@utility tbu-asset-text {
  color: var(--color-asset-soft);
}

@utility tbu-asset-link {
  @apply tbu-duration cursor-pointer;
  color: var(--color-asset-soft);

  &:hover {
    color: color-mix(in oklch, var(--color-asset-soft), #000 10%);
  }

  &:active {
    color: color-mix(in oklch, var(--color-asset-soft), #000 20%);
  }
}

@utility tbu-asset-pill {
  @apply flex;
  @apply rounded-sm px-2 py-1;
  @apply tbu-duration cursor-pointer;

  color: var(--color-asset-soft);

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-asset);
  }

  &:active {
    color: var(--color-primary);
    background-color: color-mix(in oklch, var(--color-asset), #000 10%);
  }
}

@utility tbu-asset-code {
  @apply tbu-asset-text font-mono text-base font-light;
}

/* SHADOW & BACKDROP */

@utility tbu-shadow {
  box-shadow:
    0 1px 3px 0 var(--shadow-color, rgb(0 0 0) / 0.1),
    0 1px 2px -1px var(--shadow-color, rgb(0 0 0) / 0.1);
}

@utility tbu-backdrop {
  @apply fixed inset-0;
  @apply tbu-texture backdrop-blur-xs;
  z-index: var(--z-backdrop);
  background-color: var(--backdrop-color);
}

/* BORDERS */

@utility tbu-border {
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-width: var(--border-size);
}

@utility tbu-border-top {
  border-top-color: var(--border-color);
  border-top-style: var(--border-style);
  border-top-width: var(--border-size);
}

@utility tbu-border-right {
  border-right-color: var(--border-color);
  border-right-style: var(--border-style);
  border-right-width: var(--border-size);
}

@utility tbu-border-bottom {
  border-bottom-color: var(--border-color);
  border-bottom-style: var(--border-style);
  border-bottom-width: var(--border-size);
}

@utility tbu-border-left {
  border-left-color: var(--border-color);
  border-left-style: var(--border-style);
  border-left-width: var(--border-size);
}

/* LAYOUTS */

@utility tbu-container {
  @apply tbu-duration;

  @media (width < 48rem) {
    padding-inline: calc(var(--spacing) * var(--container-sm));
  }

  @media (width >= 48rem) {
    padding-inline: calc(var(--spacing) * var(--container-md));
  }

  @media (width >= 64rem) {
    padding-inline: calc(var(--spacing) * var(--container-lg));
  }
}

@utility tbu-block {
  @apply tbu-duration;

  @media (width < 48rem) {
    padding-block: calc(var(--spacing) * var(--block-sm));
  }

  @media (width >= 48rem) {
    padding-block: calc(var(--spacing) * var(--block-md));
  }

  @media (width >= 64rem) {
    padding-block: calc(var(--spacing) * var(--block-lg));
  }
}
