@utility app-duration {
  @apply duration-[var(--duration)] ease-in-out;
}

@utility app-gap-lg {
  gap: calc(var(--spacing) * var(--spacing-lg));
}

@utility app-gap-md {
  gap: calc(var(--spacing) * var(--spacing-md));
}

@utility app-gap-sm {
  gap: calc(var(--spacing) * var(--spacing-sm));
}

@utility app-padding-lg {
  padding: calc(var(--spacing) * var(--spacing-lg));
}

@utility app-padding-md {
  padding: calc(var(--spacing) * var(--spacing-md));
}

@utility app-padding-sm {
  padding: calc(var(--spacing) * var(--spacing-sm));
}

@utility app-texture {
  background-image: var(--texture);
  background-repeat: repeat;
}

@utility app-container {
  @apply app-duration;
  padding-inline: calc(var(--spacing) * var(--container-sm));

  @media (width >= 48rem) {
    padding-inline: calc(var(--spacing) * var(--container-md));
  }

  @media (width >= 64rem) {
    padding-inline: calc(var(--spacing) * var(--container-lg));
  }
}

@utility app-block {
  @apply app-duration;
  padding-block: calc(var(--spacing) * var(--block-sm));

  @media (width >= 48rem) {
    padding-block: calc(var(--spacing) * var(--block-lg));
  }
}

@utility app-bg-color {
  background-color: var(--background-color);
}

@utility app-text-color {
  color: var(--text-color);
}

@utility app-border {
  border-color: var(--border-color);
  border-width: var(--border-size);
  border-style: var(--border-style);
}

@utility app-border-left {
  border-left-color: var(--border-color);
  border-left-width: var(--border-size);
  border-left-style: var(--border-style);
}

@utility app-border-top {
  border-top-color: var(--border-color);
  border-top-width: var(--border-size);
  border-top-style: var(--border-style);
}

@utility app-border-right {
  border-right-color: var(--border-color);
  border-right-width: var(--border-size);
  border-right-style: var(--border-style);
}

@utility app-border-bottom {
  border-bottom-color: var(--border-color);
  border-bottom-width: var(--border-size);
  border-bottom-style: var(--border-style);
}

@utility app-emphasis-bg-color {
  background-color: var(--emphasis-color);
}

@utility app-emphasis-hover-bg-color {
  background-color: var(--emphasis-hover);
}

@utility app-emphasis-active-bg-color {
  background-color: var(--emphasis-active);
}

@utility app-emphasis-text-color {
  color: var(--emphasis-color);
}

@utility app-emphasis-hover-text-color {
  color: var(--emphasis-hover);
}

@utility app-emphasis-active-text-color {
  color: var(--emphasis-active);
}
