/* UTILS */

@utility tbu-duration {
  @apply ease-in-out;
  transition-duration: var(--duration);
}

@utility tbu-texture {
  background-image: var(--texture);
  background-repeat: repeat;
}

@utility tbu-rounded {
  border-radius: var(--rounded);
}

/* COLORS */

@utility tbu-primary-bg {
  background-color: var(--color-primary-bg);
}

@utility tbu-primary-text {
  color: var(--color-primary-text);
}

@utility tbu-secondary-bg {
  background-color: var(--color-secondary-bg);
}

@utility tbu-secondary-text {
  color: var(--color-secondary-text);
}

@utility tbu-asset-bg {
  background-color: var(--color-asset-bg);
}

@utility tbu-asset-text {
  color: var(--color-asset-text);
}

@utility tbu-asset-link {
  @apply tbu-duration;
  color: var(--color-asset-text);

  &:hover {
    color: color-mix(in oklch, var(--color-asset-text), #000 10%);
  }

  &:active {
    color: color-mix(in oklch, var(--color-asset-text), #000 20%);
  }
}

@utility tbu-asset-pill {
  @apply tbu-duration rounded-sm px-2 py-1;
  color: var(--color-asset-text);

  &:hover {
    background-image: var(--texture);
    background-repeat: repeat;
    color: var(--color-primary-text);
    background-color: var(--color-asset-bg);
  }

  &:active {
    background-image: var(--texture);
    background-repeat: repeat;
    color: color-mix(in oklch, var(--color-primary-text), #000 10%);
    background-color: color-mix(in oklch, var(--color-asset-bg), #000 10%);
  }
}

/* BORDERS */

@utility tbu-border {
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-width: var(--border-size);
}

@utility tbu-border-top {
  border-top-color: var(--border-color);
  border-top-style: var(--border-style);
  border-top-width: var(--border-size);
}

@utility tbu-border-right {
  border-right-color: var(--border-color);
  border-right-style: var(--border-style);
  border-right-width: var(--border-size);
}

@utility tbu-border-bottom {
  border-bottom-color: var(--border-color);
  border-bottom-style: var(--border-style);
  border-bottom-width: var(--border-size);
}

@utility tbu-border-left {
  border-left-color: var(--border-color);
  border-left-style: var(--border-style);
  border-left-width: var(--border-size);
}

/*SHADOWS*/

@utility tbu-shadow {
  box-shadow: var(--shadow);
}

/* LAYOUTS */

@utility tbu-container {
  @apply tbu-duration;

  @media (width < 48rem) {
    padding-inline: calc(var(--spacing) * var(--container-sm));
  }

  @media (width >= 48rem) {
    padding-inline: calc(var(--spacing) * var(--container-md));
  }

  @media (width >= 64rem) {
    padding-inline: calc(var(--spacing) * var(--container-lg));
  }
}

@utility tbu-block {
  @apply tbu-duration;

  @media (width < 48rem) {
    padding-block: calc(var(--spacing) * var(--block-sm));
  }

  @media (width >= 48rem) {
    padding-block: calc(var(--spacing) * var(--block-md));
  }

  @media (width >= 64rem) {
    padding-block: calc(var(--spacing) * var(--block-lg));
  }
}

@utility tbu-columns {
  @apply tbu-duration;
  @apply flex flex-col flex-nowrap;

  @media (width < 48rem) {
    gap: calc(var(--spacing) * var(--spacing-sm));
  }

  @media (width >= 48rem) {
    gap: calc(var(--spacing) * var(--spacing-md));
  }

  @media (width >= 64rem) {
    gap: calc(var(--spacing) * var(--spacing-lg));
  }
}

@utility tbu-rows {
  @apply tbu-duration;
  @apply flex flex-row flex-wrap;

  @media (width < 48rem) {
    gap: calc(var(--spacing) * var(--spacing-sm));
  }

  @media (width >= 48rem) {
    gap: calc(var(--spacing) * var(--spacing-md));
  }

  @media (width >= 64rem) {
    gap: calc(var(--spacing) * var(--spacing-lg));
  }
}
